<div class="inner-pages-header column">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=5fdfefcda0f2d06be3b378700d990039&download" class="image" />
  <p class="text_2">Enjoy 20% off on all your weekend purchases</p>
</div>
<div class="row-layout_2 row">
  <div class="row-layout_3 row">
    <div class="filters column">
      <p class="igx-typography__subtitle-2 title_1">CATEGORY</p>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>General Body Parts</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Lighting</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Engine &amp; Drivetrain</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Break &amp; Suspension</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Interior</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Exterior</h4>
        </igx-list-item>
      </igx-list>
      <a href target="_blank" class="igx-typography__caption link">Show All</a>
      <p class="igx-typography__subtitle-2 title_1">BRAND</p>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Anzo</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Dorman</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Hella</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Keystone Collision</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>Pilot Certified</h4>
        </igx-list-item>
      </igx-list>
      <a href target="_blank" class="igx-typography__caption link">Show All</a>
      <p class="igx-typography__subtitle-2 title_1">PRICE</p>
      <igx-list class="list">
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>$1 - $10</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>$10 - $20</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>$20 - $50</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>$50 - $100</h4>
        </igx-list-item>
        <igx-list-item class="list-item">
          <h4 igxListLineTitle>$100 and Up</h4>
        </igx-list-item>
      </igx-list>
      <a href target="_blank" class="igx-typography__caption link">Show All</a>
    </div>
    <div class="column-layout column">
      <div class="row-layout row">
        <h5 class="title_2">Newest Arrivals</h5>
        <div class="row-layout_5 layout row">
          <p class="text">1-6 OF 202 RESULTS</p>
          <button igxButton="flat" [disabled]="false" [igxToggleAction]="dropDown" class="button">
            <span>SORT BY</span>
            <igx-icon>keyboard_arrow_down</igx-icon>
          </button>
          <igx-drop-down height="max-content" #dropDown class="drop-down">
            <igx-drop-down-item [disabled]="false" [isHeader]="false">
              Newest Arrivals
            </igx-drop-down-item>
            <igx-drop-down-item [disabled]="false" [isHeader]="false">
              Featured
            </igx-drop-down-item>
            <igx-drop-down-item [disabled]="false" [isHeader]="false">
              Price: Low to High
            </igx-drop-down-item>
            <igx-drop-down-item [disabled]="false" [isHeader]="false">
              Price: High to Low
            </igx-drop-down-item>
            <igx-drop-down-item [disabled]="false" [isHeader]="false">
              Avg. Customer Review
            </igx-drop-down-item>
          </igx-drop-down>
        </div>
      </div>
      <div class="row-layout_4 row">
        <igx-card type="outlined" routerLink="/product-details" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Gold Alternator</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$59.90</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Tail Lamp Assembly</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$19.90</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=940b0efc0c6ed3aeed61ab94c511b130&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Spark Plugs</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$11.00</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Oil Filters</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$24.50</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=aa09f1c4fc9828a4521fda5efef369ba&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Engine pistons and cog</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$32.90</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Winter tires set</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$44.50</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=e79340afa3b1578791ff2435cba9e150&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Carboxylic bumper</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$49.90</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=3855edeab898dc6fd88979a494fe7a46&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Battery</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$24.95</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=d542945ba3eee3126615a7033b935a0a&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Car Wheel</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$59.90</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=be1014a7507cf75e18eb419712019b92&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Chrome exhaust pipe</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$34.50</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=e085680e333431b86855ca29a4567964&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Headlight Assembly</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$49.50</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
        <igx-card type="outlined" class="card">
          <igx-card-media height="210px">
            <img src="https://filetransfer.infragistics.com/public.php?service=files&t=65260c72f3d1f318fe3b31e823742c59&download" />
          </igx-card-media>
          <igx-card-header>
            <h3 igxCardHeaderTitle>Braking Discs</h3>
            <h5 igxCardHeaderSubtitle>This is a brief product description, not longer than 2 lines of text.</h5>
          </igx-card-header>
          <igx-card-content class="layout_1">
            <h6 class="title_3">$21.99</h6>
          </igx-card-content>
          <igx-card-actions class="actions">
            <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
              <igx-icon>add_shopping_cart</igx-icon>
              <span>ADD TO CART</span>
            </button>
          </igx-card-actions>
        </igx-card>
      </div>
      <div class="row-layout_5 row-layout_7 row">
        <div class="row-layout_1 row">
          <button igxButton="flat" [disabled]="false" class="button">
            <igx-icon>arrow_back</igx-icon>
            <span>PREVIOUS</span>
          </button>
          <igx-buttongroup alignment="horizontal" [disabled]="false" class="button-group">
            <button igxButton="flat" [disabled]="false">
              <span>1</span>
            </button>
            <button igxButton="flat" [disabled]="false">
              <span>2</span>
            </button>
            <button igxButton="flat" [disabled]="false">
              <span>3</span>
            </button>
            <button igxButton="flat" [disabled]="false">
              <span>4</span>
            </button>
            <button igxButton="flat" [disabled]="false">
              <span>5</span>
            </button>
          </igx-buttongroup>
          <button igxButton="flat" [disabled]="false" class="button">
            <span>NEXT</span>
            <igx-icon>arrow_forward</igx-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sitemap row">
  <div class="layout layout_1 column">
    <p class="igx-typography__subtitle-2 content">Contact Us</p>
    <p class="igx-typography__body-2 content">1234 Street Name, CityName, ST</p>
    <p class="igx-typography__body-2 content"> 10520 United States</p>
    <p class="igx-typography__subtitle-2 title">Phone Number</p>
    <p class="igx-typography__body-2 content">1-234-567-8901</p>
  </div>
  <div class="column-layout_1 column">
    <p class="igx-typography__subtitle-2 content">Help</p>
    <p class="igx-typography__body-2 content">FAQ</p>
    <p class="igx-typography__body-2 content">Returns</p>
    <p class="igx-typography__body-2 content">Coupons &amp; Discounts</p>
    <p class="igx-typography__body-2 content">Shipping &amp; Returns</p>
  </div>
  <div class="column-layout_1 column">
    <p class="igx-typography__subtitle-2 content">About Us</p>
    <p class="igx-typography__body-2 content">Company Info</p>
    <p class="igx-typography__body-2 content">Press Releases</p>
    <p class="igx-typography__body-2 content">Careers</p>
    <p class="igx-typography__body-2 content">Reviews</p>
  </div>
  <div class="column-layout_1 column">
    <p class="igx-typography__subtitle-2 content">Services</p>
    <p class="igx-typography__body-2 content">Buy Online</p>
    <p class="igx-typography__body-2 content">In-Store</p>
    <p class="igx-typography__body-2 content">Repair Help</p>
    <p class="igx-typography__body-2 content">Find a Repair Shop</p>
  </div>
  <div class="column-layout_1 column">
    <p class="igx-typography__subtitle-2 content">Blog</p>
    <p class="igx-typography__body-2 content">Car Building Basics</p>
    <p class="igx-typography__body-2 content">Do it Yourself</p>
    <p class="igx-typography__body-2 content">Your Home Workshop</p>
    <p class="igx-typography__body-2 content">Advanced Bulding</p>
  </div>
</div>
<div class="footer row">
  <p class="igx-typography__body-2 text_1">Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.</p>
  <div class="row-layout_6 row">
    <p class="igx-typography__body-2 text_3">Terms of Use</p>
    <p class="igx-typography__body-2 text_3">Privacy Policy</p>
    <p class="igx-typography__body-2 text_4">Site Map</p>
  </div>
</div>
