<div class="inner-pages-header column">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=5fdfefcda0f2d06be3b378700d990039&download" class="image" />
  <p class="text_1">Enjoy 20% off on all your weekend purchases</p>
</div>
<div class="content column">
  <div class="column-layout column">
    <div class="row-layout_2 row">
      <a href target="_self" routerLink="/home" class="link_1 content_3">Home</a>
      <p class="text_6">/</p>
      <a href target="_self" routerLink="/all-products" class="link_1 content_3">Auto Body Parts</a>
      <p class="text_6">/</p>
      <a href target="_self" class="link_1 content_3">Engine &amp; Drivetrain</a>
      <p class="text_6">/</p>
      <a href target="_self" class="link_1 content_3">Starters, Alternators, Batteries &amp; Components</a>
      <p class="text_6">/</p>
      <p class="content_3 content_5">Alternator</p>
    </div>
    <div class="row-layout_9 row">
      <div class="column-layout_3 column">
        <div class="absolute-layout"></div>
        <div class="absolute-layout_1"></div>
        <div class="absolute-layout_2"></div>
      </div>
      <div class="row-layout row">
        <img src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" class="image_1" />
      </div>
      <div class="column-layout_4 column">
        <h5 class="content_2">Gold Alternator
</h5>
        <div class="row-layout_10 layout_1 row">
          <igx-icon font="material" [active]="true" class="icon_1">star</igx-icon>
          <igx-icon font="material" [active]="true" class="icon_1">star</igx-icon>
          <igx-icon font="material" [active]="true" class="icon_1">star</igx-icon>
          <igx-icon font="material" [active]="true" class="icon_1">star</igx-icon>
          <igx-icon font="material" [active]="true" class="icon_1">star_half</igx-icon>
          <a href target="_self" class="link">(2 customer reviews)</a>
        </div>
        <h4 class="content_2 title_5">$59.90</h4>
        <p class="igx-typography__subtitle-1 title_1">Part #ABC123-456789 | SKU: A1234-01</p>
        <a href target="_self" class="content_1 link_1">Limited Lifetime Warranty</a>
        <p class="igx-typography__body-2 content_1 content_5">Generic Brand alternators are engineered to provide the amp output necessary to power today’s vehicles. Every unit is 100% NEW (not remanufactured) and made with proprietary components and processes to ensure maximum life and performance.</p>
        <igx-badge type="success" value="IN STOCK" class="badge"></igx-badge>
        <div class="row-layout_3 row">
          <igx-select type="box" [disabled]="false" value="1" class="select">
            <label igxLabel>Quantitiy</label>
            <igx-select-item [isHeader]="false" value="1" [disabled]="false">
              1
            </igx-select-item>
            <igx-select-item [isHeader]="false" value="1" [disabled]="false">
              2
            </igx-select-item>
            <igx-select-item [isHeader]="false" value="1" [disabled]="false">
              3
            </igx-select-item>
            <igx-select-item [isHeader]="false" value="1" [disabled]="false">
              4
            </igx-select-item>
          </igx-select>
        </div>
        <p class="igx-typography__body-2 content_2">Select delivery option:</p>
        <igx-buttongroup [disabled]="false" alignment="horizontal" class="button-group">
          <button igxButton="flat" [disabled]="false">
            <igx-icon>store_mall_directory</igx-icon>
            <span>Free In-Store Pickup</span>
          </button>
          <button igxButton="flat" [disabled]="false">
            <igx-icon>home</igx-icon>
            <span>Home Delivery</span>
          </button>
        </igx-buttongroup>
        <button igxButton="raised" igxButtonColor="var(--igx-surface-500)" igxButtonBackground="var(--igx-primary-500)" [disabled]="false" class="button">
          <igx-icon>shopping_cart</igx-icon>
          <span>ADD TO CART</span>
        </button>
      </div>
    </div>
    <div class="row-layout_4 row">
      <div class="column-layout_1 column">
        <h5 class="title_3">Product Specifications</h5>
        <div class="row-layout_6 row">
          <p class="text_7">Part #  </p>
          <p class="content_3 content_5">ABC123-456789</p>
        </div>
        <div class="row-layout_8 row">
          <p class="text_7">SKU #  </p>
          <p class="content_3 content_5">740988</p>
        </div>
        <div class="row-layout_6 row">
          <p class="text_7">Weight</p>
          <p class="content_3 content_5">10 lbs</p>
        </div>
        <div class="row-layout_8 row">
          <p class="text_7">Type</p>
          <p class="content_3 content_5">Alternator</p>
        </div>
        <div class="row-layout_6 row">
          <p class="text_7">System Voltage  </p>
          <p class="content_3 content_5">12 V</p>
        </div>
        <div class="row-layout_8 row">
          <p class="text_2">Pulleys Included  </p>
          <p class="content_3 content_5">2</p>
        </div>
      </div>
      <div class="column-layout_2 column">
        <h5 class="title_3 content_4">Product Description</h5>
        <div class="row-layout_7 row">
          <igx-icon font="material" [active]="true" class="icon">check_circle</igx-icon>
          <p class="text_5">Key components are greased to help with long term reliability in harsh conditions</p>
        </div>
        <div class="row-layout_7 row">
          <igx-icon font="material" [active]="true" class="icon">check_circle</igx-icon>
          <p class="text_5">
Every unit is built with 100% NEW components that are designed to meet the highest quality standards</p>
        </div>
        <div class="row-layout_7 row">
          <igx-icon font="material" [active]="true" class="icon">check_circle</igx-icon>
          <p class="text_5">
Every unit is triple tested (component, subassembly and end of line) to ensure quality and performance</p>
        </div>
        <p class="igx-typography__body-2 text">New Alternators are manufactured with all new components and are the ideal high quality replacement for many vehicles on the road today. Key components are lubricated to help with performance and long life reliability. Alternators have regulators that are computer tested for voltage stability, terminal function, and electronic circuit board integrity. These premium aftermarket replacement components are manufactured to meet your expectations for fit, form, and function. Some ACDelco Gold parts may have formerly appeared as ACDelco Professional.</p>
      </div>
    </div>
    <h5 class="title">Customers Also Purchased</h5>
    <div class="row-layout_1 row">
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Gold Alternator</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$59.90</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Tail Lamp Assembly</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_border</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$19.90</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=940b0efc0c6ed3aeed61ab94c511b130&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Spark Plugs</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_half</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_border</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$11.00</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Oil Filters</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$24.50</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=e085680e333431b86855ca29a4567964&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Headlight Assembly</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_half</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_half</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$49.50</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Winter Tires Set</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_half</igx-icon>
          </div>
          <h6 class="title_5 content_4 content_5 content_6">$44.50</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=be1014a7507cf75e18eb419712019b92&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Exhaust Pipe</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
          </div>
          <h6 class="title_4">$34.50</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
      <igx-card type="elevated" class="card">
        <igx-card-media height="160px">
          <img src="https://filetransfer.infragistics.com/public.php?service=files&t=3855edeab898dc6fd88979a494fe7a46&download" />
        </igx-card-media>
        <igx-card-header>
          <h3 igxCardHeaderTitle>Battery</h3>
          <h5 igxCardHeaderSubtitle>SKU: A1234-01</h5>
        </igx-card-header>
        <igx-card-content class="layout">
          <div class="row-layout_10 row">
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star</igx-icon>
            <igx-icon font="material" [active]="true" class="icon_2">star_border</igx-icon>
          </div>
          <h6 class="title_4">$24.95</h6>
        </igx-card-content>
        <igx-card-actions class="actions">
          <button igxButton="flat" igxButtonColor="var(--igx-primary-500)" igxButtonBackground="transparent" [disabled]="false" class="button_1 button_2">
            <igx-icon>add_shopping_cart</igx-icon>
            <span>ADD TO CART</span>
          </button>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
<div class="sitemap row">
  <div class="layout layout_1 column">
    <p class="igx-typography__subtitle-2 content_4 content_5 content_6">Contact Us</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">1234 Street Name, CityName, ST</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6"> 10520 United States</p>
    <p class="igx-typography__subtitle-2 title_2">Phone Number</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">1-234-567-8901</p>
  </div>
  <div class="layout column-layout_5 column">
    <p class="igx-typography__subtitle-2 content_4 content_5 content_6">Help</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">FAQ</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Returns</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Coupons &amp; Discounts</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Shipping &amp; Returns</p>
  </div>
  <div class="layout column-layout_5 column">
    <p class="igx-typography__subtitle-2 content_4 content_5 content_6">About Us</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Company Info</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Press Releases</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Careers</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Reviews</p>
  </div>
  <div class="layout column-layout_5 column">
    <p class="igx-typography__subtitle-2 content_4 content_5 content_6">Services</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Buy Online</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">In-Store</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Repair Help</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Find a Repair Shop</p>
  </div>
  <div class="layout column-layout_5 column">
    <p class="igx-typography__subtitle-2 content_4 content_5 content_6">Blog</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Car Building Basics</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Do it Yourself</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Your Home Workshop</p>
    <p class="igx-typography__body-2 content_4 content_5 content_6">Advanced Bulding</p>
  </div>
</div>
<div class="footer row">
  <p class="igx-typography__body-2 text_8">Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.</p>
  <div class="row-layout_5 row">
    <p class="igx-typography__body-2 text_3">Terms of Use</p>
    <p class="igx-typography__body-2 text_3">Privacy Policy</p>
    <p class="igx-typography__body-2 text_4">Site Map</p>
  </div>
</div>
