<div class="inner-pages-header column">
  <img src="https://filetransfer.infragistics.com/public.php?service=files&t=5fdfefcda0f2d06be3b378700d990039&download" class="image" />
  <p class="text_1">Enjoy 20% off on all your weekend purchases</p>
</div>
<div class="content row">
  <div class="column-layout_3 column">
    <h5 class="title_1 content_3">Shopping Cart</h5>
    <div class="layout row-layout_8 row">
      <div class="column-layout_1 column">
        <igx-list class="list">
          <igx-list-item class="list-item">
            <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=b071d194cfe9fb66c4b47374b99f7f3b&download" [roundShape]="false" size="large" igxListThumbnail></igx-avatar>
            <igx-icon font="material" [active]="true" igxListAction class="icon">remove_shopping_cart</igx-icon>
            <div igxListLine class="row-layout_7 row">
              <p class="content_3 content_4">Gold Alternator </p>
              <div class="row-layout_4 row">
                <div class="row-layout_5 row">
                  <p class="text_5">Qty:</p>
                  <div class="row-layout_6 row">
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>remove</igx-icon>
                    </button>
                    <p class="text_4">1</p>
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>add</igx-icon>
                    </button>
                  </div>
                </div>
                <p class="text_6">$59.90</p>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item class="list-item">
            <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=bfe2dad6262481c5e438fc6f5f8028f7&download" [roundShape]="false" size="large" igxListThumbnail></igx-avatar>
            <igx-icon font="material" [active]="true" igxListAction class="icon">remove_shopping_cart</igx-icon>
            <div igxListLine class="row-layout_7 row">
              <p class="content_3 content_4">Tail Lamp Assembly</p>
              <div class="row-layout_4 row">
                <div class="row-layout_5 row">
                  <p class="text_5">Qty:</p>
                  <div class="row-layout_6 row">
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>remove</igx-icon>
                    </button>
                    <p class="text_4">1</p>
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>add</igx-icon>
                    </button>
                  </div>
                </div>
                <p class="text_6">$19.50</p>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item class="list-item">
            <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=0212c47c4a204776d8fa829a0242703a&download" [roundShape]="false" size="large" igxListThumbnail></igx-avatar>
            <igx-icon font="material" [active]="true" igxListAction class="icon">remove_shopping_cart</igx-icon>
            <div igxListLine class="row-layout_7 row">
              <p class="content_3 content_4">Winter Tires Set</p>
              <div class="row-layout_4 row">
                <div class="row-layout_5 row">
                  <p class="text_5">Qty:</p>
                  <div class="row-layout_6 row">
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>remove</igx-icon>
                    </button>
                    <p class="text_4">1</p>
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>add</igx-icon>
                    </button>
                  </div>
                </div>
                <p class="text_6">$41.50</p>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item class="list-item">
            <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=94ab63891e2281af8ac8d25f0eefe668&download" [roundShape]="false" size="large" igxListThumbnail></igx-avatar>
            <igx-icon font="material" [active]="true" igxListAction class="icon">remove_shopping_cart</igx-icon>
            <div igxListLine class="row-layout_7 row">
              <p class="content_3 content_4">Oil Filter</p>
              <div class="row-layout_4 row">
                <div class="row-layout_5 row">
                  <p class="text_5">Qty:</p>
                  <div class="row-layout_6 row">
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>remove</igx-icon>
                    </button>
                    <p class="text_4">1</p>
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>add</igx-icon>
                    </button>
                  </div>
                </div>
                <p class="text_6">$49.50</p>
              </div>
            </div>
          </igx-list-item>
          <igx-list-item class="list-item">
            <igx-avatar src="https://filetransfer.infragistics.com/public.php?service=files&t=e085680e333431b86855ca29a4567964&download" [roundShape]="false" size="large" igxListThumbnail></igx-avatar>
            <igx-icon font="material" [active]="true" igxListAction class="icon">remove_shopping_cart</igx-icon>
            <div igxListLine class="row-layout_7 row">
              <p class="content_3 content_4">Headlight Assembly</p>
              <div class="row-layout_4 row">
                <div class="row-layout_5 row">
                  <p class="text_5">Qty:</p>
                  <div class="row-layout_6 row">
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>remove</igx-icon>
                    </button>
                    <p class="text_4">1</p>
                    <button igxButton="icon" type="icon" [disabled]="false">
                      <igx-icon>add</igx-icon>
                    </button>
                  </div>
                </div>
                <p class="text_6">$29.90</p>
              </div>
            </div>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column-layout_2 column">
        <h6 class="title_1">Cart totals</h6>
        <div class="row-layout_2 row">
          <p class="igx-typography__subtitle-2 content_2 content_3 content_4">Subtotal</p>
          <p class="content_1 content_2">$198.30</p>
        </div>
        <div class="row-layout_2 row">
          <p class="igx-typography__subtitle-2 content_2 content_3 content_4">Shipping</p>
          <p class="content_1 content_2">$0</p>
        </div>
        <div class="column-layout column">
          <p class="igx-typography__body-2 content_1">Shipping wiil be calculated at checkout</p>
          <a href target="_self" class="igx-typography__body-2 link">Estimate shipping</a>
        </div>
        <div class="row-layout_1 row">
          <h6 class="content_2 content_3 content_4">Total</h6>
          <h6 class="content_1 content_2">$198.30</h6>
        </div>
        <div class="row-layout row">
          <button igxButton="flat" igxButtonColor="var(--igx-surface-500)" [disabled]="false" class="button">
            <span>PROCEED TO CHECKOUT</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sitemap row">
  <div class="column-layout_4 column">
    <p class="igx-typography__subtitle-2 content_3 content_4">Contact Us</p>
    <p class="igx-typography__body-2 content_3 content_4">1234 Street Name, CityName, ST</p>
    <p class="igx-typography__body-2 content_3 content_4"> 10520 United States</p>
    <p class="igx-typography__subtitle-2 title">Phone Number</p>
    <p class="igx-typography__body-2 content_3 content_4">1-234-567-8901</p>
  </div>
  <div class="layout column">
    <p class="igx-typography__subtitle-2 content_3 content_4">Help</p>
    <p class="igx-typography__body-2 content_3 content_4">FAQ</p>
    <p class="igx-typography__body-2 content_3 content_4">Returns</p>
    <p class="igx-typography__body-2 content_3 content_4">Coupons &amp; Discounts</p>
    <p class="igx-typography__body-2 content_3 content_4">Shipping &amp; Returns</p>
  </div>
  <div class="layout column">
    <p class="igx-typography__subtitle-2 content_3 content_4">About Us</p>
    <p class="igx-typography__body-2 content_3 content_4">Company Info</p>
    <p class="igx-typography__body-2 content_3 content_4">Press Releases</p>
    <p class="igx-typography__body-2 content_3 content_4">Careers</p>
    <p class="igx-typography__body-2 content_3 content_4">Reviews</p>
  </div>
  <div class="layout column">
    <p class="igx-typography__subtitle-2 content_3 content_4">Services</p>
    <p class="igx-typography__body-2 content_3 content_4">Buy Online</p>
    <p class="igx-typography__body-2 content_3 content_4">In-Store</p>
    <p class="igx-typography__body-2 content_3 content_4">Repair Help</p>
    <p class="igx-typography__body-2 content_3 content_4">Find a Repair Shop</p>
  </div>
  <div class="layout column">
    <p class="igx-typography__subtitle-2 content_3 content_4">Blog</p>
    <p class="igx-typography__body-2 content_3 content_4">Car Building Basics</p>
    <p class="igx-typography__body-2 content_3 content_4">Do it Yourself</p>
    <p class="igx-typography__body-2 content_3 content_4">Your Home Workshop</p>
    <p class="igx-typography__body-2 content_3 content_4">Advanced Bulding</p>
  </div>
</div>
<div class="footer row">
  <p class="igx-typography__body-2 text">Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.</p>
  <div class="row-layout_3 row">
    <p class="igx-typography__body-2 text_2">Terms of Use</p>
    <p class="igx-typography__body-2 text_2">Privacy Policy</p>
    <p class="igx-typography__body-2 text_3">Site Map</p>
  </div>
</div>
